<div>
  <ul>
    <% if @errors %>
      <% @errors.each do |error| %>
        <li><%=error%></li>
      <% end %>
    <% end %>
  </ul>
</div>

<form action="/potlucks/<%=@potluck.id%>" method="post">
  <input type="hidden" name="_method" value="put">
  <label for="potluck[name]">Name:</label><br>
    <input type="text" name="potluck[name]" value="<%=@potluck.name%>"><br><br>
  <label for="potluck[location]">Location:</label><br>
    <input type="text" name="potluck[location]" value="<%=@potluck.location%>"><br><br>
  <label for="potluck[starts_at]">Starts At (YYYY-MM-DD HH:MM):</label><br>
    <input type="text" name="potluck[starts_at]" value="<%=@potluck.starts_at%>"><br>
  <input type="submit" value="Update Potluck">
</form>
